{% extends "header.html" %}

{% block content %}
<h2>Microenvironment Color Deconvolution and Segmentation</h2>

<h4>This web application can separate stains into color channels and segment regions based on staining intensity.</h4>
<h4>To get started, first read the tutorial page.</h4>
<h4>Afterwards, navigate to the MicroDeconvolution app on the sidebar.</h4>
<h4>_______________________</h4>
<h3>Example of workflow:</h3>
<img style="max-height:700px" src="/static/img/figure_1.png">

 {% endblock %}