{% extends "header.html" %}

{% block content %}
    <h2>Microenvironment Color Deconvolution and Segmentation</h2>
    <h3>_________________</h3>
    <h3>Image Upload</h3>

    <!-- Upload form. Note enctype attribute! -->
            <form action="{% url "singleimage" %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <p>{{ form.non_field_errors }}</p>

                <p>{{ form.imfile.label_tag }} {{ form.imfile.help_text }}</p>

                <p>
                    {{ form.imfile.errors }}
                    {{ form.imfile }}
                </p>

                <p><input type="submit" value="Upload"/></p>




            </form>


            <h3>View Images</h3>
        <!-- List of uploaded images -->
            {% if images %}
                <ul>
                    {% for image in images %}
                        <li><a href="{{ image.imfile.url }}">{{ image.imfile.name }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No images.</p>
            {% endif %}

    <h3>_________________</h3>


 {% endblock %}